.container {
  /* background-color: green; */
  position: absolute;
}
.outerbox {
  background-color: rgba(245, 245, 245, 0.5);
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px;
  width: 200px;
  height: 200px;
}
.innerbox {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid black;
  border-radius: 10px;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerboxcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.innerboxcontent h1,
.innerboxcontent p {
  text-align: center;
  margin-bottom: 15px;
}

.innerboxcontent button {
  color: black;
  background-color: white;
  outline: none;
  border: 1px solid black;
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.innerboxcontent button:hover {
  color: white;
  background-color: black;
  /* transform: scale(5); */
  transform: rotate(720deg);
}
