@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.site {
  font-family: 'Montserrat', sans-serif;
  /* background-color: rgb(184, 184, 255); */
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}
.header {
  background-color: steelblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 500;
}
.header button {
  color: black;
  background-color: white;
  outline: none;
  border: 1px solid black;
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.footer {
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chars {
  border-radius: 50%;
  width: 50px;
}
